<div class="container bg-1">

    
    <mat-grid-list cols="3" rowHeight="20:3">
      <mat-grid-tile [colspan]=3  [rowspan]=1>
        <h1 class="text-center">
          Mercedes-Benz Cars 
        </h1>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary" routerLink="/carList" >Car List</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary" routerLink="/salesData" >Sales Data</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary" routerLink="/addCar" >Add Car</button>
      </mat-grid-tile>
    </mat-grid-list>
  
    <router-outlet></router-outlet>

</div>